{{ UI.clientLink({
    'dataUrl': path('oro_issue_create', oro_action_params(entity, constant('Oro\\Bundle\\IssueBundle\\EventListener\\FormSetAssigneeEventListener::ACTION_CREATE_ISSUE_MY'))),
    'aCss': 'dropdown-item no-hash',
    'iCss': 'fa-bug',
    'dataId': entity.id,
    'label': 'oro.issue.create_entity_my.label'|trans,
    'title': 'oro.issue.create_entity_my.title'|trans,
    'widget' : {
        'type' : 'dialog',
        'multiple' : true,
        'reload-grid-name': 'issue-user-issue-grid',
        'refresh-widget-alias': 'activity-list-widget',
        'options' : {
            'alias': 'create-issue-dialog',
            'dialogOptions' : {
                'title' : 'oro.issue.create_entity_my.widget_title'|trans,
                'allowMaximize': true,
                'allowMinimize': true,
                'dblclick': 'maximize',
                'maximizedHeightDecreaseBy': 'minimize-bar',
                'width': 1000
            }
        }
    }
}) }}
