{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content responsive-section">
    <div class="box-type1">
        <div class="title">
            <span class="widget-title">{{ 'oro.issue.entity_plural_label'|trans }}</span>
        </div>
    </div>
        <div class="row-fluid">
            {{ dataGrid.renderGrid('issue-user-issue-grid', {'user_id': app.user.id}) }}
        </div>
    <p></p>
</div>
