{% extends 'OroDashboardBundle:Dashboard:widget.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}
    {{ dataGrid.renderGrid('issue-dashboard-grid', {'user_id': app.user.id}) }}
{% endblock %}

{% block actions %}
    {% set actions = [{
        'url': path('oro_issue_index', {'issue-list-grid[_filter][collaborators][value]': app.user.id}),
        'type': 'link',
        'label': 'oro.issue.all_my_issue'|trans,
    }] %}

    {{ parent() }}

{% endblock %}
