{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'oro.issue.entity_plural_label'|trans %}

{% block navButtons %}
    {% if is_granted('oro_issue_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('oro_issue_create'),
                'entity_label': 'oro.issue.entity_label'|trans
            }) }}
        </div>
    {% endif %}

    {% if is_granted('oro_issue_update') %}
        {% include 'OroImportExportBundle:ImportExport:buttons_from_configuration.html.twig' with {
            'alias': 'oro_issue'
        } %}
    {% endif %}

{% endblock %}
