{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}

{% oro_title_set({params : {"%issueCode%": entity.code, '%entityName%': 'oro.issue.entity_label'|trans } }) %}

{% block navButtons %}
    {% set html = UI.saveAndCloseButton({
        'route': 'oro_issue_view',
        'params': {'id': '$id'}
    }) %}
    {% if is_granted('oro_issue_create') %}
        {% set html = html ~ UI.saveAndNewButton({
            'route': 'oro_issue_create'
        }) %}
    {% endif %}
    {% if is_granted('oro_issue_update') %}
        {% set html = html ~ UI.saveAndStayButton({
            'route': 'oro_issue_update',
            'params': {'id': '$id'}
        }) %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
    {{ UI.cancelButton(path('oro_issue_index')) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('oro_issue_index'),
            'indexLabel': 'oro.issue.entity_label'|trans,
            'entityTitle': entity.code
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'oro.issue.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'issue-edit' %}

    {% set dataFormField = [
        form_row(form.summary),
        form_row(form.description),
        form_row(form.priority),
        form_row(form.type)
    ] %}
    {% if form.assignee is defined %}
        {% set dataFormField = dataFormField|merge([form_row(form.assignee)]) %}
    {% endif %}

    {% set dataFormField = dataFormField|merge([form_row(form.relatedIssues),form_row(form.parent)]) %}

    {% set dataBlocks = [{
        'title': 'oro.issue.general.info'|trans,
        'class': 'active',
        'subblocks': [{
            'title': '',
            'data': dataFormField
        }]
    }]
    %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
