{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%issueCode%": entity.code } }) %}

{% block navButtons %}
    {% placeholder view_navButtons with {entity: entity} %}
    {% if is_granted('oro_issue_create') %}
        {% if entity.type == constant('Oro\\Bundle\\IssueBundle\\Provider\\IssueTypeProvider::STORY_TYPE') %}
            {{ UI.clientButton({
                'dataUrl': path('oro_issue_create', oro_action_params(entity, constant('Oro\\Bundle\\IssueBundle\\EventListener\\FormSetParentEventListener::ACTION_CREATE_ISSUE_SUBTASK'))),
                'aCss': 'no-hash',
                'iCss': 'fa-bug',
                'dataId': entity.id,
                'label': 'oro.issue.create_entity_subtask.label'|trans,
                'title': 'oro.issue.create_entity_subtask.title'|trans,
                'widget' : {
                    'type' : 'dialog',
                    'multiple' : true,
                    'reload-grid-name': 'issue-children-grid',
                    'refresh-widget-alias': 'activity-list-widget',
                    'options' : {
                        'alias': 'create-issue-dialog',
                        'dialogOptions' : {
                            'title' : 'oro.issue.create_entity_subtask.widget_title'|trans,
                            'allowMaximize': true,
                            'allowMinimize': true,
                            'dblclick': 'maximize',
                            'maximizedHeightDecreaseBy': 'minimize-bar',
                            'width': 1000
                        }
                    }
                }
            }) }}
        {% endif %}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_issue_index'),
        'indexLabel': 'oro.issue.entity_label'|trans,
        'entityTitle': entity.code
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% set widgetdateUpdatedAlias = 'oro_issue_widget_date_updated' %}
{% set pageComponent = {
    'module': 'oroui/js/app/components/view-component',
    'options': {
        'view': 'oroissue/js/app/view/dateUpdated',
        'widgetName': widgetdateUpdatedAlias
    },
} %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt is defined and entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_issue_updated_at_widget', {id: entity.id}),
            'alias' : widgetdateUpdatedAlias,
        }) }}</li>
{% endblock %}

{% block content_data %}
    {% set issueData %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('oro.issue.code.label'|trans, entity.code) }}
                    {{ UI.renderProperty('oro.issue.summary.label'|trans, entity.summary) }}
                    {% if entity.reporter is not null %}
                        <a href="{{ path('oro_user_view', { 'id':entity.reporter.id }) }}">{{ UI.renderProperty('oro.issue.reporter.label'|trans, entity.reporter.firstName ~ ' ' ~ entity.reporter.lastName) }}</a>
                    {% endif %}
                    {% if entity.assignee is not null %}
                        <a href="{{ path('oro_user_view', { 'id':entity.assignee.id }) }}">{{ UI.renderProperty('oro.issue.assignee.label'|trans, entity.assignee.firstName ~ ' ' ~ entity.assignee.lastName) }}</a>
                    {% endif %}
                    {{ UI.renderSwitchableHtmlProperty('oro.issue.description.label'|trans, entity.description) }}
                    {% if entity.parent is not null %}
                        {{ UI.renderHtmlProperty('oro.issue.parent.label'|trans, '<a href="'~path('oro_issue_view', {id:entity.parent.id})~'">'~entity.parent.code~'</a>'|raw) }}
                    {% endif %}
                    {{ UI.renderProperty('oro.issue.type.label'|trans, entity.type) }}
                    {{ UI.renderProperty('oro.issue.status.label'|trans, entity.status) }}
                    {{ UI.renderProperty('oro.issue.priority.label'|trans, entity.priority) }}
                    {{ UI.renderProperty('oro.issue.resolution.label'|trans, entity.resolution) }}
                    {{ UI.renderProperty('oro.issue.organization.label'|trans, entity.organization.name) }}

                </div>

            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oro.issue.general.info'|trans,
            'class': 'active',
            'subblocks': [
            { 'data' : [issueData] }
            ]
        }
    ] %}

    {% if entity.relatedIssues is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'oro.issue.grid.related.label'|trans,
            'subblocks': [{
                'data' : [
                    dataGrid.renderGrid('issue-related-grid',{ issue_id: entity.id })
                ]
            }]
        }] ) %}
    {% endif %}

    {% if entity.children is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'oro.issue.grid.subtask_list.label'|trans,
            'subblocks': [{
                'data' : [
                    dataGrid.renderGrid('issue-children-grid',{ issue_id: entity.id })
                ]
            }]
        }] ) %}
    {% endif %}


    {% if entity.collaborators is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'oro.issue.grid.collaborators.label'|trans,
            'subblocks': [{
                'data' : [
                    dataGrid.renderGrid('issue-collaborators-grid', { issue_id: entity.id })
                ]
            }]
        }] ) %}
    {% endif %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
