{% extends 'OroSearchBundle:Search:searchResultItem.html.twig' %}

{% set showImage = false %}

{% set recordUrl = indexer_item.recordUrl %}
{% set title = entity.code ~ ' - ' ~ entity.summary %}

{% set entityType = 'oro.issue.entity_label'|trans %}

{% set entityInfo = [
    {'title':  'oro.issue.type.label'|trans, 'value' : entity.type},
    {'title':  'oro.issue.status.label'|trans, 'value' : entity.status ? entity.status.name : "N/A"},
    {'title':  'oro.issue.priority.label'|trans, 'value' : entity.priority ? entity.priority.name : "N/A"},
    {'title': 'oro.ui.created_at'|trans, 'value': entity.createdAt|oro_format_datetime},
    {'title': 'oro.ui.updated_at'|trans, 'value': entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'},
] %}
